/* .UserNav h1{
   
    color: rgb(245, 245, 243);
    padding: 2px;
    margin-left: 20px;
    margin-right: 20%;
}
.p{
font-size: 30px;
font-weight: bold;
margin-right: 70%;
margin-top: 100px;
color: rgba(3, 58, 31, 0.854);
 }
 .UserNav a {
    width: 80px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(128, 126, 122); 
    color:whitesmoke;
    text-decoration: none; 
    margin-left: 50%;
   
   
}
.UserNav{
   
background-color: black;
display: flex;
justify-content: space-around;
position: fixed;
top: 0%;
left: 0%;
right: 0%;

}

 .manageStates{
    display:flex;
    flex-wrap: wrap;

 }
 .Loadingstate{
width:28%;
height:300px;
border: none;
border-radius: 20px;
box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
margin-left: 10%;
padding: 30px;

 }
 
 .ErrorState{
  width:27%;
  height:310px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
  margin-left: 10%;
  padding: 20px;
  margin-left: 15%;


 }
 .ErrorState h1{
    color:black;
 }
 .ConnectionError{
  color:brown;
  background-color: rgb(244, 153, 153);
  border: none;
  border-radius: 20px;
  height:190px;
  width: 340px;
  margin-left: 10%;
  padding-top: 20px;

 
 }
  #error{
    font-weight: lighter;
    color: rgb(143, 5, 5);
    font-size: 19px;

      
  }
button{
  background-color: rgb(15, 107, 212);
  border: none;
  border-radius: 10px;
  height:40px;
  width: 100px;
  color:white;
  font-size: 17px;
}
 .EmptyState{
  width:30%;
  height:390px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
  margin-left: 10%;
  padding: 20px;  
   margin-top: 20px;
 }
 .createprojects{
    background-color:rgb(66, 111, 235);
    color:white;
    border-radius:8px;
    font-weight:bolder;
    width:190px;
    border:none; 
    height: 40px;
    padding: 10px;
   
   
}
 .SuccessState{
  width:30%;
  height:390px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
  margin-top: 20px;
  padding: 20px; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 14%;
  
 }
 .Success{
  width:350px;
  height:66px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
  margin-left:10px;
  padding: 20px;
  background-color: #bafde7;
  color: rgb(24, 109, 81);
  
  
 }
 .SuccessState h1{
color:red;
margin-bottom: 0%;
padding: 0;
margin-left: 20px;
 }
 .newprojects{
  width:400px;
  height:100px;
  box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
  margin-left:10px;
  /* margin-top: 0px; */
  /* border-radius: 20px;
  background-color: gainsboro;
 }
 .newproject p{
    color:black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
 }
 .newproject span{
    color:rgb(149, 147, 147)
 }
 .FormValidationExamples{
  margin-bottom: 20px;
  box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
  margin-left:10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
 } */ 