 .login {
   border-radius: 20px;
   box-shadow: 3px 5px 4px rgba(rgb(74, 28, 224), rgb(9, 11, 9), rgb(48, 48, 199), alpha);
   width: 500px;
   height: 300px;
   border: 2px solid rgb(198, 197, 202);
   border-radius: 10px;
   margin-left: 35%;
   cursor: pointer;
   margin-top: 60px;
   padding-bottom: 180px;
   border-top: none;

 }

 .head {
   color: rgb(255, 255, 255);
   background-color: rgb(112, 112, 255);
   padding: 15px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   font-weight: bold;
   font-size: 20px;
   margin-left: 0;
   margin-right: 0;
 }

 .WellCome {
   color: rgb(81, 81, 253);
   font-weight: bold;
   font-size: 20px;
 }

 #paragraph a {
   padding: 0;
   border-radius: 0;
   background-color: whitesmoke;
   margin-left: 0;
   color: blue;
   text-decoration: underline;
 }

 input {
   border-radius: 6px;
   border-color: rgb(170, 168, 168);
   padding: 3px;
   border-radius: 10px;
   background-color: rgb(255, 255, 255);
   padding: 10px;
   /* width:400px; */
   border-radius: 10px;
   margin-bottom: 10px;
   margin-top: 10px;

 }

 .join {
   color: rgb(113, 110, 110);
   font-weight: lighter;


 }

 label {
   margin-right: 258px;
   font-weight: bold;
   font-size: 20px;

 }

 .fn {
   margin-right: 330px;
   font-weight: bold;
   font-size: 20px;

 }

 .pwd {
   margin-right: 340px;
   font-weight: bold;
   font-size: 20px;

 }

 .el {
   margin-right: 370px;
   font-weight: bold;
   font-size: 20px;

 }

 .SignIn {
   color: white;
   background-color: rgb(110, 110, 251);
   padding: 10px;
   width: 430px;
   border-radius: 10px;
   font-weight: bold;
 }

 .SignIn:hover {
   color: white;
   background-color: rgb(54, 54, 203);
   padding: 10px;
   width: 430px;
   border-radius: 10px;
   font-weight: bold;
 }

 .lspan {
   color: red;
 }

 #paragragh {
   font-size: medium;
   font-weight: lighter;
 }