 .nav{
    display:flex;
    justify-content:space-evenly;
    background-color: rgb(85, 88, 88);
    color:white;   
    position:fixed;
    width:100%;
    left: 0;
    right: 0;
    top:0;
    
}
 nav{
    margin-top: 20px;
}
.task{
   display:flex;
   justify-content:space-evenly; 
   flex-wrap:wrap; 
}
.tasklists{
    width:250px;
    height: 150px;
    margin: 30px; 
    border-radius: 10px;
    background-color:white;
    color:rgb(91, 90, 90);
    border: 1px solid rgb(182, 180, 180);
    padding-bottom: 20px;    
    box-shadow:  0 2px 5px rgba(0,0,0,0.05);
    font-size: large;
    margin-right: 0;
} 
#body div:hover{
    width: 130px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(223, 219, 254);
    color:rgb(33, 33, 33);
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(178, 175, 175);
    padding-bottom:70px;   
    border-bottom: 30px;
    font-size:18px;
}
nav a{
    width: 80px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(128, 126, 122); 
    margin-left: 90px;
    color:whitesmoke;
    text-decoration: none;    
}
.tasklisting{
   display: flex;
   justify-content: space-evenly;
}
.high ,h6{
   font-weight: bold;
   font-size: 15px;
   background-color: rgb(226, 93, 21);
   border:1px solid black;
   border-radius: 10px;
   width:50px;
   padding :3px;
   margin-top: 20px;
   margin-left: 100px;
   margin-bottom: 10px;
   color: white;
   box-shadow:  0 2px 5px rgba(0,0,0,0.05);
}
.addtask{
   width:100px;
   font-weight: bold;
   font-size: 15px;
   background-color: rgb(76, 76, 237);
   border:1px solid black;
   border-radius: 10px;
   padding: 10px;
   margin-top: 30px;
   margin-bottom: 10px;
   color: white;
   box-shadow:  0 2px 5px rgba(0,0,0,0.05);
}
.nav h2{
    margin-right: 10%; 
}
.Taskmanagement{
    margin-left:170px;
    padding-top: 80px;
    color:black;
}     


#p{
    color:gray;
}

