
.fdivs{
    display: flex;
    justify-content: space-around;
    
}
.fdivsStyle{
    width: 100px;
    height:90px;
    border:2px solid rgb(225, 225, 254);
    border-radius: 20px; 
    padding:20px;
    background-color: rgb(247, 249, 250);
    color:rgb(174, 170, 170);

}
.digitStyling{
    color: rgb(73, 73, 250);
    font-size: 30px;
    font-weight: bolder;
}
.graphPriority{
    display: flex;
    justify-content: space-around;
    margin:50px;
}
.Trend{
    width:400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: "0 2px 8px rgba(0,0,0,0.1)",

}
.PriorityDistribution{
    width:400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 12px;
}
.PriorityDistribution  td{
    /* width:99px; */
    margin-left: 70px;
    display: inline-block;
    margin-bottom: 2px;
    padding: 10px;
    font-size: 18px;
}
.progress-container{
    width:250px;
    height:10px;
    background-color: rgb(207, 210, 210);
    margin-left: 85px;
    border-radius:10px ;
    overflow: hidden;
}
.progress-bar{
  /* width: 25%;            progress percentage */
  height: 100%;

  /* background-color: #e53935; red fill */
  /* border-radius: 10px 0 0 10px; round only left side */
}
.RecentActivityLog{
    width:auto;
    height: 270px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
    /* margin-left: 330px; */
    margin-bottom: 20px;
}

.RecentActivityLog p{
    font-size: 25px;
    font-weight: bold;
    margin-right: 210px;
    color:rgb(2, 108, 231);
}

#spanhead{
    font-size: 20px;
    font-weight: bold;
    margin-right: 14%;
}
#secondspan{
    color:grey;
    margin-right: 141px;
     font-size: 20px;
}
hr{
    width:80%;
}
h1{
    font-size: 25px;
    /* margin-right: 100px; */
    margin-right: 480px;
}
#tasknames ,p{
     color:grey;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
}
.prioritypara,p{
    color:rgb(8, 8, 8);
      font-size: 20px;
      margin-bottom: 20px;
}
.UsersNav{
    display:flex;
    justify-content:space-evenly;
    background-color: rgb(85, 88, 88);
    color:white;   
    position:fixed;
    width:100%;
    top: 0 ;
     left: 0;
     right: 0;
}
 .UsersNav nav{
    margin-left: 10px;
    margin-top: 30px;
    

 }
