.createnewproject{
    width:500px;
    height:600px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 1px hsla(0, 1%, 60%, 0.871);
    margin: auto;
    padding:20px;
    position:relative;
}

h1{
    margin-right:220px;
    font-size: 22px;   
}
label{
    margin-right:270px;
    font-size: 20px;
    font-weight: bold;
}
.close-button{
    position: absolute;
    right:20px;
    top:20px;
    border-radius: none;
    border:none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}
input{
    border-radius: 1px;
    border-color: 2px solid rgba(135, 134, 134, 0.932);
    border-radius: 1px;
    background-color:rgb(255, 255, 255);
    padding:10px;
    width:80%;
    border-radius: 10px ;
    margin-top: 15px;
    margin-bottom: 20px;
    color:black;
}
.date{
    display: flex;
    justify-content: center;
    justify-content:space-around; 
}
.date input{
        width:150px;
}
.category{
    display:flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 10px;
    cursor:pointer;
    width:420px;
}
.cancelpro{
    background-color:gray;
    color:white;
    border-radius:4px;
    font-weight:bolder;
    width:150px;
    border:none; 
    height: 40px;
    margin:20px;
    cursor:pointer;
}
.startdate{
    margin-right:""
}
.createpro{
    background-color:rgb(66, 111, 235);
    color:white;
    border-radius:4px;
    font-weight:bolder;
    width:150px;
    border:none; 
    height: 40px;
    margin-left: 40px; 
   
}
@media (max-width: 480px) {
  .createnewproject {
    width: 110%;
    height: 900px;
    padding: 45px;
   
    padding-top: 20px;
 
  }
  input {
    width: 300px;
    font-size: 10px;
    margin-right:20px;
    margin-left: 20px;
  }
  h1{
        margin-right:140px;

  }
  label{
            margin-right:170px;

  }
  .des{
    margin-left:30px;
    /* width:100px; */
  }

  .date {
    flex-direction: column;
    gap: 10px;
    margin:20px;
  }
  .date input {
    width: 90%; /* full width date inputs */
  }
  .cancelpro, .createpro {
    width: 100%; /* stack buttons */
    margin: 10px 0;
  }
  .category{
    width:330px;
    margin-left: 40px;
     
  }
  .category label{
        margin-left: 30px;

  }
  h1{
            margin-left:0px;

  }
}