#register{
    border-radius: 20px;
    box-shadow: 3px 5px 4px rgba(rgb(74, 28, 224), rgb(9, 11, 9), rgb(48, 48, 199), alpha);
    width: 500px;
    height: 600px;
    border: 2px solid rgb(219, 218, 224);
    border-radius: 10px;
    margin-left: 35%;
    cursor: pointer;
    margin-top: 40px;
    padding-bottom:180px;
    border-top: none;
}
.para{
  color: black;
  font-weight: lighter;

}
.para a{
 padding: 0;
    border-radius: 0;
    background-color:whitesmoke;
    margin-left: 0;
    color:blue;
    text-decoration:underline;
}

.createAcc{
   color:rgb(85, 85, 250);
   margin-top:1px; 
   margin-left: 30px;
   margin-right: 0;
}
#head{
  color:rgb(255, 255, 255);
  background-color: rgb(112, 112, 255);
  padding:15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;

}
input{
    border-radius: 1px;
    border-color: 2px solid rgba(135, 134, 134, 0.932);
    border-radius: 1px;
    background-color:rgb(255, 255, 255);
    padding:10px;
    width:80%;
    border-radius: 10px ;
    margin-top: 13px;
    margin-bottom: 12px;
    color:black;
  
}
#join{
    color :rgb(113, 110, 110);
    font-weight:lighter;

}
label{
   margin-right: 258px;
   font-weight: bold;
   font-size: 20px;

}
#fn{
   margin-right: 330px;
   font-weight: bold;
   font-size: 20px;

}
#pwd{
   margin-right: 340px;
   font-weight: bold;
   font-size: 20px;

}
#el{
   margin-right: 370px;
   font-weight: bold;
   font-size: 20px;

}
.signUp{
  color:white;
  background-color: rgb(110, 110, 251);
  padding:10px;
  width:430px;
  border-radius: 10px ;
  font-weight: bold;
}
.signUp:hover{
  color:white;
  background-color: rgb(85, 85, 251);
  padding:10px;
  width:430px;
  border-radius: 10px;
  font-weight: bold;
}
#span{
  color:red;

 
}
