.Userprofile{
    width:100vw;
    height: 100vh;
    /* border:2px solid rgb(24, 23, 23); */
    border:none;
    background-color:white;
    border-radius: 15px;
   
}
.UserNav{
    display:flex;
    justify-content:space-between;
    width: 100%;;
    background-color:rgb(57, 56, 56);
    position: fixed;
    top: 0;
    left:0;
    right: 0;

}
h1{
    margin-left: 60px;
    padding:10px;
    color:rgb(251, 253, 254);

}
a{
    margin-right: 55px;
    text-decoration:none;
    color:white;
    background-color: rgb(122, 120, 120);
    padding:10px;
    border-radius: 5px;
  
  
}
.userbody{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;
    
}
.avatar{
    margin-top: 90px;
    width:20%;
    height:290px;
    border:none;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
    margin-bottom: 0px;
}
.AccountSettings{
    width:39%;
    height:500px;
    border:none;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
    margin: 60px;
    margin-left: 90px;
     

}
.UpdateProfile{
 font-weight: bold;
 font-size: 15px;
 background-color: rgb(97, 97, 252);
 border:none;
 border-radius: 5px;
 padding: 12px;
 width:150px;
 margin-top: 20px;
 color: white;
 box-shadow:  0 2px 5px rgba(0,0,0,0.05);
}
.PT{
    background-color: royalblue;
    border-radius: 50%;
    width:70px;
    height:70px;
    padding: 10px;
    margin-left: 35%;
    margin-top: 30px;

}
h4{
padding: 15px;
margin:10px;
color:white;
font-size: 18px;

}
.ChangeAvatar{
font-weight: bold;
 font-size: 15px;
 background-color: rgba(140, 140, 143,0.876);
 border:none;
 border-radius: 5px;
 padding: 12px;
 width:150px;
 margin-top: 20px;
 color: white;
 box-shadow:  0 2px 5px rgba(0,0,0,0.05);
}

.ActivitySummary{
    width:40%;
    height:155px;
    border:none;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
    margin-top: 30px;
   
}
 .ActivitySummary td{
  margin-left: 130px;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 18px;
  margin-right: 28px;

}

p{
    font-size: 18px;
    font-weight: bold;
/* padding-bottom: 10px; */
}
.Preferences{
    width:40%;
    height:180px;
    margin-top: 20px;
    border:none;
    border-radius: 20px;
    padding: 11px;
    margin-right: 99px;
    box-shadow: 1px 1px 7px 1px hsla(0, 2%, 63%, 0.871);
    margin-bottom: 20px;
}
.checkbox{
    display:flex;
    justify-content: space-between;
    margin-left:23%;
    margin-bottom: 20px;
    width:100%;
    align-items: center;
}
.switch{
    position: relative;
    width:45px;
    height:25px;
    display: inline-block;

}
/* Hide default checkbox */

.switch input{
    opacity: 0;
    height: 0;
    width:0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 33px;
}

/* Circle inside switch */
.slider::before {
  position: absolute;
  content:"";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
/* Active state */
.switch input:checked + .slider {
  background-color: #4c6ef5; /* blue toggle */
}

.switch input:checked + .slider::before {
  transform: translateX(19px);
}