#register{
    border-radius: 20px;
    box-shadow: 3px 5px 4px rgba(rgb(74, 28, 224), rgb(9, 11, 9), rgb(48, 48, 199), alpha);
    width: 500px;
    height: 500px;
    border: 2px solid rgb(219, 218, 224);
    border-radius: 10px;
    margin-left: 35%;
    cursor: pointer;
    margin-top: 60px;
    padding-bottom:180px;
    border-top: none;
}


h3{
  color:rgb(85, 85, 250);
  margin-top:1px;
}
#head{
  color:rgb(255, 255, 255);
  background-color: rgb(112, 112, 255);
  padding:15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: bold;
  font-size: 20px;

}
input{
    border-radius: 6px;
    border-color: rgb(170, 168, 168);
    padding:3px;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    padding:10px;
    width:400px;
    border-radius: 10px ;
    
 
}
#join{
color :rgb(113, 110, 110);
font-weight:lighter;



}
label{
 margin-right: 258px;
 font-weight: bold;
      font-size: 20px;

}
#fn{
   margin-right: 330px;
   font-weight: bold;
      font-size: 20px;

}
#pwd{
   margin-right: 340px;
   font-weight: bold;
      font-size: 20px;

}
#el{
   margin-right: 370px;
    font-weight: bold;
      font-size: 20px;

}
#signUp{
  color:white;
  background-color: rgb(110, 110, 251);
  padding:10px;
  width:430px;
  border-radius: 10px ;
  font-weight: bold;
}
#signUp:hover{
  color:white;
  background-color: rgb(85, 85, 251);
  padding:10px;
  width:430px;
  border-radius: 10px ;
  font-weight: bold;
}
#span{
  color:red;
}
#login{
   border-radius: 20px;
    box-shadow: 3px 5px 4px rgba(rgb(74, 28, 224), rgb(9, 11, 9), rgb(48, 48, 199), alpha);
    width: 500px;
    height: 250px;
    border: 2px solid rgb(198, 197, 202);
    border-radius: 10px;
    margin-left: 35%;
    cursor: pointer;
    margin-top: 60px;
    padding-bottom:180px;
    border-top:none;
   
}
#SignIn{

  color:white;
  background-color: rgb(110, 110, 251);
  padding:10px;
  width:430px;
  border-radius: 10px ;
  font-weight: bold;
}
#SignIn:hover{
  color:white;
  background-color: rgb(54, 54, 203);
  padding:10px;
  width:430px;
  border-radius: 10px ;
  font-weight: bold;
}
