#register{
  width: 500px;
  height:0px;
  border-radius: 20px;
  /* box-shadow: 1px 3px 2px rgba(rgb(179, 23, 23), rgb(9, 11, 9), rgb(48, 48, 199), alpha); */
  border-color: rgb(14, 13, 13);
  border:70px;
  padding-right: 500px;

}
h3{
  color:rgb(110, 110, 236);
  margin-top:10px;
}
#head{
  color:white;
  background-color: rgb(112, 112, 255);
  padding:15px;
  font-weight: bold;
  font-size: 20px;

}
input{
    border-radius: 6px;
    border-color: darkgray;
    padding:3px;
    border-radius: 10px;
background-color:white;
  padding:10px;
  width:400px;
  border-radius: 10px ;
 
}
#join{
color :darkgrey;
font-weight:lighter;



}
label{
 margin-right: 258px;
 font-weight: bold;
      font-size: 20px;

}
#fn{
   margin-right: 330px;
   font-weight: bold;
      font-size: 20px;

}
#pwd{
   margin-right: 340px;
   font-weight: bold;
      font-size: 20px;

}
#el{
   margin-right: 370px;
    font-weight: bold;
      font-size: 20px;

}
#signUp{
  color:white;
  background-color: rgb(110, 110, 251);
  padding:10px;
  width:430px;
  border-radius: 10px ;
  font-weight: bold;
}
#signUp:hover{
  color:white;
  background-color: rgb(85, 85, 251);
  padding:10px;
  width:430px;
  border-radius: 10px ;
  font-weight: bold;
}
#span{
  color:red;
}